.App {
  height: 100%;
  background-color: #2c0d61;
}

ul {
  list-style: none;
  overflow: hidden;
  position: relative;
  margin: 0;
  top: 20px;
  padding: 0 20px;
}

ul li {
  float: left;
  margin-right: 40px;
}
